* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hero */
.first-section {
  background: url("./assets/Call-to-action (1).png") no-repeat center center/cover;
  min-height: 70vh;
}

.first-h1 {
  font-size: 2.5rem;
  color: green;
}

@media (min-width: 768px) {
  .first-h1 {
    font-size: 3.5rem;
  }
}

@media (min-width: 1200px) {
  .first-h1 {
    font-size: 4.5rem;
  }
}

/* Buttons */
.btn-btn {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  background-color: #74A84A;
  border: none;
  color: #fff;
  transition: 0.3s;
}

.btn-btn:hover {
  background-color: #00b4d8;
  color: #fff;
}

.btn {
  font-size: 1.25rem;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  color: white;
  background-color: #74A84A;
}

.btn:hover {
  background: #00b4d8;
  color: black;
}

/* Talk to us */
.five-section {
  background: url("./assets/Call-to-action\ \(1\).png") no-repeat center center/cover;
  min-height: 60vh;
}

.h1-call {
  color: #78A87A;
}

/* Footer */
.footer-section ul li a {
  text-decoration: none;
  color: #fff;
}

.footer-section ul li a:hover {
  color: #00b4d8;
}